*{
    font-family: 'Acme', sans-serif;
}

body{
    margin: 0 auto;
    padding: 0;
    background-color: #DBDBD9;
    color:#DBDBD9;
}

header{
    background: url('../images/header-section.jpg') 100% fixed;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2px;
}

h1.titre{
font-size: 100px;
text-transform: uppercase;
}

h3.slogan{
font-size: 25px;
font-style: i;
}

ul.destinations{
    display: inline-block;
}

ul.destinations li{
    color: #373737;
    display: inline-block;
    background-color: #fff;
    margin: 12px;
    padding: 12px;
}

section#section_destinations{
    width: 100%;
}